$yellow: #FCD54C;
$light-black: #272727;
$grey: #929292;
$light-gray: #E8E8E8;
$extra-grey: #d2d2d2;
$white: #FFF;
$brown: #3c342e;
$f1: 'Bangers', system-ui;
$f2: 'Boogaloo', sans-serif;


@mixin button-template($pt, $ps, $he, $wi) {
	text-decoration: none;
	display: inline-block;
	padding: $pt $ps;
	height: $he;
	border-radius: 10px;
	box-shadow: 0 0 40px 40px $brown inset, 0 0 0 0 $brown;
	font-family: $f1;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	color: $yellow;
	transition: .15s ease-in-out;
	width: $wi;
}

@mixin button-hover {
	&:hover {
		box-shadow: 0 0 10px 0 $brown inset, 0 0 10px 4px $brown;
		color: $brown;
		transform: translateY(-10px);
	}
}

@mixin button-active {
	&:active {
		background-color: $brown;
		box-shadow: none;
	}
}

@mixin main-font($name, $s, $w) {
	font-family: $name;
	color: $brown;
	font-size: $s;
	font-weight: $w;
	font-style: normal;
	line-height: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: $light-black;
	@include main-font($f1, 24px, normal);
	background-image: url(../images/game-cover.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

/*App styles start*/
.app {
	display: flex;
	flex-direction: column;
	align-items: center;

	& header {
		display: flex;
		justify-content: center;
	}

	& .main {
		&-menu {
			position: fixed;
			bottom: 3%;
			left: 0;
			width: 100%;
			text-align: end;

			& .menu-list {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				flex-wrap: wrap;

				& .menu-link {
					@include button-template(10px, 10px, 50px, 150px);
					@include button-hover;
					@include button-active;
					margin: 10px;
					height: auto;
				}
			}

			& .sound {
				margin-left: 20px;
				border-radius: 50%;
				background-color: rgba(0, 0, 0, 0);
				border: none;
			}
		}

		& .content {
			position: relative;

			& section {
				width: 500px;
				max-width: 100%;
				height: 300px;
				max-height: 100%;
				position: fixed;
				left: 50%;
				top: 45%;
				border-radius: 10px;
				transform: translate(-50%, -50%);
				box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.8);
			}

			& .rules-page {
				padding: 10px;

				& .rules-title {
					text-align: center;
					margin-bottom: 20px;
				}

				& .rules-text {
					text-align: justify;
				}
			}

			& .records-page {
				padding: 10px;

				& .records-title {
					text-align: center;
					margin-bottom: 20px;
				}

				& .records-text {
					text-align: justify;
				}
			}

			& .description-page {
				padding: 10px;

				& .description-title {
					text-align: center;
					margin-bottom: 20px;
				}

				& .description-text {
					text-align: justify;
				}
			}

			& .error-page {

				& .error-img {
					text-align: center;
					margin-bottom: 20px;
				}

				& .error-text {
					text-align: justify;
				}
			}

			& canvas {
				width: 100vw;
				height: 100vh;
			}
		}
	}
}

/*App styles end*/