@media screen and (max-width: 500px) {
   .text{
      padding-left: 0;
   }

   .menu{
      float: none;
      width: 140px;
   }

   select{
      width: 100%;
   }

   .radio{
      display: block;
   }
}