@media screen and (max-width: 500px) {
   div.container {
      background: none;
   }

   div.menu {
      float: none;
      width: 100%;
      overflow: hidden;
      background-color: rgb(240, 231, 140);
   }

   h3 {
      text-align: center;
   }

   div.content {
      margin-left: 0;
      overflow: none;
      background: url(../HTML_CSS5/images/ball.png) repeat-y top right;
   }
}