$yellow: #FCD54C;
$light-black: #272727;
$black: #000;
$grey: #929292;
$light-gray: #E8E8E8;
$extra-grey: #d2d2d2;
$white: #FFF;
$w-s: 'Work Sans', sans-serif;
$g: 'Gilroy';


@mixin button-template($pt, $ps, $he) {
   background-color: $yellow;
   border: none;
   padding: $pt $ps;
   height: $he;
   color: $black;
   font-family: 'Work Sans', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   width: fit-content;
}

@mixin main-font($name, $s, $w) {
   font-family: $name;
   color: $white;
   font-size: $s;
   font-weight: $w;
   font-style: normal;
   line-height: normal;
}

@mixin main-border($w) {
   border: $w solid $yellow;
}

@mixin headlines($c, $s, $w, $l) {
   font-family: $g;
   color: $c;
   font-size: $s;
   font-weight: $w;
   font-style: normal;
   line-height: $l;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-family: $w-s;
   color: $light-gray;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   background-color: $light-black;
   overflow-x: hidden;
}

a:active,
a {
   text-decoration: none;
}

a:hover {
   color: #FCD54C;
}

.wrapper {
   max-width: 1800px;
   margin: 0 auto;
}

.logo {
   width: 184px;
   height: 64px;
   position: relative;
   padding: 8px 0 16px 16px;

   &-name {
      @include main-font($g, 28px, 700);
   }

   &-bor {
      width: 40px;
      height: 63px;
      @include main-border(2px);
      border-right: none;
      position: absolute;
      top: 0px;
      left: 0px;
   }

   &-postscript {
      @include main-font($w-s, 11px, 400);
      opacity: 0.6;
   }
}

/*Modal window styles start*/
:modal {
   width: 729px;
   height: 450px;
   min-width: 350px;
   overflow: visible;
   border: none;
   padding: 68px 140px 44px;
}

dialog::backdrop {
   background-color: rgba(39, 39, 39, 0.90);
}


.cancel-btn {
   width: 0;
   height: 0;
   background-color: #929292;
   padding: 0;
   margin: 0;
   border: 0;
}

.close {
   position: absolute;
   right: -64px;
   top: -32px;
   width: 32px;
   height: 32px;
   opacity: 0.9;
}

.close:hover {
   opacity: 1;
}

.close:before,
.close:after {
   position: absolute;
   left: 15px;
   content: ' ';
   height: 33px;
   width: 2px;
   background-color: $yellow;
}

.close:before {
   transform: rotate(45deg);
}

.close:after {
   transform: rotate(-45deg);
}

.content {
   // padding: 64px 144px 40px;
   text-align: center;

   & .class1 {
      @include headlines($black, 48px, 700, normal);
      margin-bottom: 8px;
   }

   & .class2 {
      @include main-font($w-s, 20px, 400);
      color: $black;
      margin-bottom: 8px;
   }

   & input {
      height: 52px;
      width: 452px;
      border: none;
      border-bottom: 1px solid $grey;
   }

   & button#confirmBtn {
      width: 216px;
      height: 54px;
      background-color: $yellow;
      margin-top: 56px;
      border: none;
   }
}

/*Modal window styles end*/

/*Header styles start*/
header {
   @include main-font($g, 14px, 600);

   & .container {
      margin: 20px 0 26px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-blok1 {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex: auto;
         margin-left: 132px;
         order: 0;

         &-list {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 32px;

            & li:hover {

               & ul {
                  display: inherit;
               }
            }

            &-list2 {
               display: none;
               position: absolute;
               top: 100%;
               border: 2px solid $grey;

               & li {
                  min-width: 245px;
                  float: none;
                  display: list-item;
                  position: relative;
               }
            }

            & a {
               color: $white
            }

            & a:hover {
               color: #FCD54C;
            }
         }

         &-btn {
            @include button-template(12px, 14px, 40px);
            min-width: max-content;
            word-break: keep-all;
         }
      }

      &-blok2 {
         display: flex;
         align-items: center;
         text-transform: uppercase;
         justify-content: space-between;
         margin-left: 96px;

         &-lang {
            width: 44px;
            display: flex;
            justify-content: space-between;

            &-en {
               color: $yellow;
            }

            &-ru {
               color: $grey;
            }
         }

         &-phone {
            font-size: 16px;
            margin-left: 48px;
            min-width: max-content;
         }
      }
   }
}

/*Dropdown start*/
.dropdown {
   float: left;
   overflow: hidden;
}

.dropdown .dropbtn {
   cursor: pointer;
   text-transform: uppercase;
   border: none;
   outline: none;
   background-color: inherit;
   margin: 0;
   @include main-font($g, 14px, 600)
}

.navbar a:hover,
.dropdown:hover .dropbtn {
   color: $yellow;
   text-decoration: underline;
}

.dropdown-content {
   display: none;
   position: absolute;
   z-index: 1;
   width: 100%;
}

.dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
   background-color: $light-black;
}

.dropdown-content a:hover {
   background-color: $yellow;
   color: $black !important;
}

.show {
   display: block;
}

/*Dropdown end*/
/*Header styles end*/

/*Section1 styles start*/
.section1 {

   & .slider {
      background: url(../image/slider1.png) no-repeat center;
      background-size: cover;
      height: 971px;
      position: relative;
      padding-top: 278px;

      &-social {
         width: 20px;
         height: 162px;
         background: url(../image/svg/social-icons-vertical.svg) no-repeat;
         position: absolute;
         right: 20px;
         top: 40px;
      }

      &-container {
         width: 742px;
         height: 384px;
         position: relative;
         margin: 0 0 160px 356px;
         padding: 44px 0 52px 28px;
         color: $white;
         display: flex;
         flex-direction: column;
         justify-content: space-between;


         &-text {
            @include main-font($w-s, 16px, 400);
            text-transform: uppercase;
         }

         &-name {
            font-family: 'Space Grotesk', sans-serif;
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 100px;
            text-transform: capitalize;

            & span {
               color: $yellow
            }
         }

         &-link {
            @include main-font($w-s, 20px, 700);

            & a {
               color: $white;

               & img {
                  margin-left: 6px;
               }
            }
         }


         &-bor {
            width: 124px;
            height: 383px;
            @include main-border(4px);
            border-right: none;
            position: absolute;
            top: 0px;
            left: 0px;
         }
      }

      &-blok {
         width: 1080px;
         padding: 58px 0 40px 60px;
         background-color: $light-black;
         position: absolute;
         right: 0px;
         color: $white;
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: space-around;

         &-item {
            width: 214px;
            height: 54px;
            display: flex;
            justify-content: space-between;

            & .number {
               @include main-font($g, 60px, 700);
               line-height: 58px;
            }

            & .text {
               width: 116px;
               @include main-font($w-s, 16px, 600);
               line-height: 26px;
            }
         }
         &-item:hover .number{
            color: $yellow;
         }
      }
   }
}

/*Section1 styles end*/

/*Section2 styles start*/
.section2 {
   margin-top: 124px;
   height: 812px;

   &-blok {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1098px;

      &-name {
         @include headlines($white, 48px, 700, none);
      }

      ul {
         width: 400px;
         @include main-font($w-s, 16px, 600);
         line-height: 21px;
         display: flex;
         justify-content: space-between;
         align-items: flex-end;

         & a {
            color: $white
         }

         & a:hover {
            color: #FCD54C;
         }

         li:last-child {
            @include main-font($g, 16px, 600);
            line-height: 21px;
            font-style: italic;

            a {
               color: $grey;
            }
         }
      }
   }

   &-slider {
      margin-top: 78px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-width: 0;
      // flex-wrap: wrap;

      &-item {
         width: 428px;
         height: 572px;
         min-width: 0;
         @include main-font($g, 32px, 700);
         line-height: 45px;
         padding: 46px 60px 44px 40px;
         display: flex;
         align-items: flex-end;

         &-text {
            @include main-font($w-s, 22px, 400);
            color: $light-black;
            line-height: 26px;
         }

         &-link {
            @include main-font($w-s, 20px, 700);

            & a {
               color: $light-black;
            }

            & img {
               margin-left: 17px;
            }
         }

         &.i-1 {
            background: url(../image/s2-i1-428x573.png) no-repeat;
         }

         &.i-2 {
            background-color: $yellow;
            color: $light-black;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
         }

         &.i-3 {
            background: url(../image/s2-i2-428x573.png) no-repeat;
         }

         &.i-4 {
            background: url(../image/s2-i3-428x573.png) no-repeat;
         }
      }

      & .slick-slide{
         margin: 0 10px;
      }

      & .slick-list {
         overflow: hidden;
      }

      & .slick-track {
         display: flex;
         align-items: flex-start;
      }

      & .slick-dots {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 100px;
      }

      & .slick-dots li {
         list-style: none;
         margin: 0 10px;

         &.slick-active button {
            background-color: $yellow;
            border: none;
         }
      }

      & .slick-dots button {
         font-size: 0;
         width: 13px;
         height: 13px;
         border: none;
         border-radius: 50%;
         background-color: $grey;
      }
   }
}

/*Section2 styles end*/

/*Section3 styles start*/
.section3 {
   margin-top: 70px;

   &-container {
      width: 730px;
      margin: 0 auto;

      :first-child {
         color: $yellow
      }

      &-name {
         @include headlines($light-gray, 70px, 700, 69px);
         margin: 40px 0 33px 0;
      }

      &-text {
         @include main-font($w-s, 18px, 400);
         line-height: 160%;
         color: $light-gray;
      }
   }
}

/*Section3 styles end*/

/*Section4 styles start*/
.section4 {
   margin-top: 89px;

   &-video {
      // background: url(../image/placeholder.png) no-repeat;
      // position: relative;
   }

   // &-play {
   //    width: 122px;
   //    height: 122px;
   //    background: url(../image/svg/play\ button.svg) no-repeat;
   //    position: absolute;
   //    top: 400px;
   //    left: 839px;
   // }
}

/*Section4 styles end*/

/*Section5 styles start*/
.section5 {
   margin-top: 119px;

   &-container {
      width: 1110px;
      margin: 0 auto;

      &-blok1 {
         padding: 70px 96px;
         @include main-font($g, 30px, 400);
         line-height: 160%;
         margin-bottom: 64px;
         @include main-border(1px);
      }

      &-blok2 {
         height: 788px;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;

         &-img1 {
            width: 543px;
            height: 312px;
            background: url(../image/s5-img1.png) no-repeat;
         }

         &-img2 {
            width: 543px;
            height: 312px;
            background: url(../image/s5-img2.png) no-repeat;
         }

         &-text {
            width: 543px;
            @include main-font($w-s, 18px, 400);
            line-height: 160%;
            color: $light-gray;
         }
      }

   }
}

/*Section5 styles end*/

/*Section6 styles start*/
.section6 {
   margin-top: 115px;

   &-rectangle {
      height: 400px;
      background: url(../image/rectangle.png) no-repeat;
      padding: 84px 0 84px 0;

      &-container {
         width: 612px;
         height: 228px;
         margin: auto auto;
         display: flex;
         flex-direction: column;
         align-items: center;

         &-text {
            @include main-font($w-s, 18px, 600);
            line-height: 160%;
            color: $light-black;
            text-align: center
         }

         &-name {
            @include headlines($light-black, 120px, 700, 69px);
            text-align: center;
            margin: 16px 0 54px 0;
         }

         & input[type="text"] {
            width: 472px;
            height: 60px;
            border: none;
            padding-left: 42px;
            padding-right: 184px;
            @include main-font($w-s, 12px, 400);
            color: $light-black
         }

         & input[type="submit"] {
            @include main-font($w-s, 14px, 600);
            color: $white;
            width: 164px;
            height: 60px;
            background-color: $light-black;
            margin-left: -164px;
            padding: 22px 65px;
            border: none;
         }
      }

   }

   & .input-form {
      display: flex;
   }
}

/*Section6 styles end*/

/*Section7 styles start*/
.section7 {
   margin-top: 140px;

   &-container {
      margin: 0 auto;
      width: 1110px;
      display: flex;
      flex-direction: column;

      &-blok1 {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         margin-bottom: 90px;

         &-name {
            @include main-font($g, 70px, 700);
            line-height: normal;
         }

         &-link {
            display: flex;

            & a {
               @include main-font($g, 16px, 600);
               line-height: 21px;
               color: $grey;
               display: flex;

               & .arrow {
                  width: 13px;
                  height: 20px;
                  background: url(../image/svg/arrow-grey.svg)no-repeat;
                  margin-left: 21px;
               }
            }

            & a:hover {
               color: $yellow;

               & .arrow{
                  background: url(../image/svg/arrow\ yellow.svg)no-repeat;
               }
            }
         }
      }

      &-blok2 {
         display: flex;
         justify-content: space-between;
         @include main-font($g, 25px, 700);
         line-height: 35px;

         &-item1 {
            width: 350px;
            height: 352px;
            background: url(../image/s7-1-350x350.png) no-repeat;
            padding: 40px 64px 52px 36px;
            display: flex;
            align-items: flex-end;
         }

         &-item2 {
            width: 350px;
            height: 352px;
            @include main-border(1px);
            padding: 40px 36px 28px 36px;

            &-text {
               @include main-font($w-s, 16px, 400);
               color: $grey;
               line-height: 26px;
            }

            &:first-child {
               color: $light-gray;
            }

            &-name {
               margin: 16px 0 28px 0;
            }

            &-link {
               margin-top: 32px;

               & a {
                  @include main-font($w-s, 16px, 600);
                  line-height: 24px;
                  color: $yellow;
               }

               & img {
                  margin-left: 19px;
               }
            }
         }

         &-item3 {
            width: 350px;
            height: 352px;
            background: url(../image/s7-2-350x350.png) no-repeat;
            padding: 40px 64px 52px 36px;
            display: flex;
            align-items: flex-end;
         }
      }
   }
}

/*Section7 styles end*/

/*Section8 styles start*/
.yell {
   color: $yellow;
}

.exmpl {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.exmpl img {
   height: 100%;
   width: auto;
}

.section8 {
   margin-top: 170px;

   &-container {
      width: 1800px;
      margin: 0 auto;


      &-slider {
         position: relative;

         &-items {
            text-align: center;
            position: relative;
            overflow: visible;
            opacity: 0.4;
            transition: all 0.3s ease 0s;

            &.slick-center {
               opacity: 1;
               position: relative;
               top: 20px;
            }


            &-item {
               position: relative;
               width: 520px;
               height: 366px;
               display: flex;
               flex-direction: column;
               justify-content: flex-end;
            }

            &-foto {
               object-fit: contain;
               width: 112px;
               height: 112px;
               position: absolute;
               top: 0;
               left: 20px;
               border-radius: 60px;
               overflow: hidden;
            }


            &-quotes {
               position: absolute;
               top: 58px;
               right: 40px;
               @include main-font($w-s, 120px, 600);
               line-height: 200px;
               color: $yellow;
            }

            &-employee {
               @include main-font($g, 16px, 400);
               height: 310px;
               border: 1px solid $yellow;
               display: flex;
               flex-direction: column;
               justify-content: flex-end;
               gap: 12px;
               padding: 96px 32px 24px;
               text-align: left;

               &-name {
                  color: $yellow;
                  @include main-font($g, 24px, 700)
               }

               &-role {
                  color: $white;

               }

               &-about {
                  margin-top: 12px;
                  color: $grey;
               }
            }

         }

         & .slick-slide {
            margin: 0 auto;
            height: 424px;
         }


         & .slick-list {
            overflow: hidden;
         }

         & .slick-track {
            display: flex;
            align-items: flex-start;
         }

         & .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 44px;
         }

         & .slick-dots li {
            list-style: none;
            margin: 0 10px;

            &.slick-active button {
               background-color: $yellow;
               border: none;
            }
         }

         & .slick-dots button {
            font-size: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $grey;
            border: none;
         }

      }
   }
}

/*Section8 styles end*/

/*Section9 styles start*/
.section9 {
   margin-top: 110px;

   &-container {
      width: 1110px;
      margin: 0 auto;

      &-name {
         @include headlines($white, 70px, 700, 60px);
      }

      &-acor {
         margin: 20px 0 120px;
         border-bottom: 1px solid $grey;

         & .acor-body {
            width: calc(100% - 40px);
            margin: 0 auto;
            height: 0;
            padding: 0px 64px;
            box-sizing: border-box;
            transition: color 0.5s, padding 0.5s;
            overflow: hidden;

            p {
               @include main-font($w-s, 14px, 400);
               color: $light-gray;
               line-height: 160%;
            }
         }

         & label {
            cursor: pointer;
            background-color: $light-black;
            border-top: 1px solid $grey;
            display: block;
            padding: 20px 0;
            width: 100%;
            box-sizing: border-box;
            z-index: 100;
            @include main-font($w-s, 18px, 400);
            line-height: 130%;
            color: $light-gray;
            transition: color .35s;
         }


         & input {
            display: none;
         }

         & label:before {
            // content: '\276F';
            content: url(../image/svg/arrow\ yellow.svg);
            float: right;
            transition: .5s;
            margin-right: 12px;
         }


         & input:checked+label::before {
            transition: transform .35s;
            transform: rotate(90deg);
         }

         & input:checked+label+.acor-body {
            height: auto;
            margin-top: -5px;
            color: #000;
            padding: 32px 64px;
         }
      }
   }


}

/*Section9 styles end*/

/*Footer styles start*/
footer {

   & .container {
      border-top: 1px solid rgba(255, 255, 255, 0.30);
      padding: 72px 36px 96px;

      & .logo {
         margin: 0 auto;
      }

      &-content {
         display: flex;
         justify-content: space-between;
         margin-top: 51px;

         &-blok {
            @include main-font($w-s, 18px, 400);
            color: $light-gray;

            &-name {
               margin-bottom: 40px;
            }

            &-list {
               display: flex;
               flex-direction: column;
               gap: 20px;
               font-weight: 300;

               & a {
                  color: $light-gray;
               }

               & a:hover {
                  color: #FCD54C;
               }

               &-btn {
                  @include button-template(12px, 14px, 40px);
                  margin-top: 78px;
               }
            }
         }
      }
   }

   & .bottom {
      height: 90px;
      border-top: 1px solid rgba(255, 255, 255, 0.30);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-name {
         font-family: 'Lexend', sans-serif;
         font-size: 18px;
         font-style: normal;
         font-weight: 300;
         line-height: 160%;
      }

      &-social {
         width: 199px;
         height: 18px;
         background: url(../image/svg/social-icons.svg) no-repeat;
      }
   }
}

/*Footer styles end*/